/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins-Regular.ttf) format("truetype");
}

/* Global style untuk Text & View */
:root {
  --font-poppins: "Poppins", sans-serif;
}

Text,
View {
  font-family: var(--font-poppins);
}

.activeOpacity {
  opacity: 0.7;
}

.btn-text {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  padding: 8px 10px;
  line-height: 1;
}

.btn-text__icon {
  width: 20px;
  height: 20px;
}

.btn-text__label {
  font-size: 14px;
  color: #334155;
}
